footer {
  display: flex;
height: 330px;
background-color: white;
font-family: 'Titillium Web', sans-serif;


}

footer h3 {
  font-size: 22px;
font-family: 'Titillium Web', sans-serif;
text-align: left;
margin-left: 23px;
line-height: 19px;



}


  .footerleft p {
    float: left;
    margin-right: 50%;
    text-align: left;
margin-left: 23px;
margin-top: -14px;
width: 472px;
font-size: 14px;
line-height: 25px;

  }

.footerleft h3 {

      color: #3D3D3D;

    }


  .footerright {
    display: inline-block;
  }


.socialfooter span {
  color: #474747;
  background-color: #B5B5B5;

}

.socialfooter {
    margin-left: 23px;
}
//
// .fa-facebook-square {
//   color: #474747;
// }
//
// .fa-rss-square {
//   color: ;
// }
//
// .fa-twitter-square {
//   color: #00aced
// }
//
// .fa-youtube-square {
//   color: #b31217;
// }
