footer {
  display: flex;
  height: 330px;
  background-color: white;
  font-family: 'Titillium Web', sans-serif;
  width: 100%;
h3 {
  font-size: 22px;
  font-family: 'Titillium Web', sans-serif;
  text-align: left;
  margin-left: 23px;
  line-height: 19px;
  color: #454545;
}
.row7 {
  display: inline-block;
  width: 100%;
  border-bottom: solid #cacaca 3px;
}
.footerleft p {
  float: left;
  margin-right: 50%;
  text-align: left;
  margin-left: 23px;
  margin-top: -14px;
  width: 450px;
  font-size: 14px;
  line-height: 25px;
  color: #7A7A7A;
h3 {
  color: #3D3D3D;
  border: solid 2px;
  width: 275px;
  margin-right: 20px;
    }
}.footerright {
  display: inline-block;
  float: right;
  margin-top: -193px;
}
.socialfooter {
    margin-left: 23px;
span {
    color: #474747;
    display: inline-block;
    }
}
.footerleft {
  width: 70%;
  display: inline-block;
}
form {
  margin-left: 350px;
  margin-top: 15px;
  color: #cacaca;
  font-size: 14px;
#submit {
  position: relative;
  top: -200px;
  right: -219px;
  width: 220px;
  background-color: #BE2625;
  color: white;
  border: solid;

  }
  #submit:hover {
      transform: scale(1.09);
  }
  #name {
    position: relative;
top: -186px;
left: 138px;
width: 64%;
border-top: solid #696969 3px;
color: #cacaca;
  }
  #email {    position: relative;
    top: -186px;
    left: 138px;
    width: 64%;
    border-top: solid #696969 3px;
    margin-top: 15px;
    color: #cacaca;
  }
  #message {
    position: relative;
      top: -186px;
      left: 138px;
      width: 64%;
      border-top: solid #696969 3px;
          padding-bottom: 108px;
          color: #cacaca;
  }
}
}
