footer {
  display: flex;
height: 330px;
background-color: white;
font-family: 'Titillium Web', sans-serif;
width: 100%;
h3 {
  font-size: 22px;
font-family: 'Titillium Web', sans-serif;
text-align: left;
margin-left: 23px;
line-height: 19px;
}
}


  .footerleft p {
    float: left;
    margin-right: 50%;
    text-align: left;
    margin-left: 23px;
    margin-top: -14px;
    width: 450px;
    font-size: 14px;
    line-height: 25px;
        h3 {
          color: #3D3D3D;
        }
  }

  .footerright {
    display: inline-block;
    float: right;
    margin-top: -193px;
  }


.socialfooter {
    margin-left: 23px;
    span {
      color: #474747;
      background-color: #B5B5B5;
      display: inline-block;
    }
}

.row7 {
  display: inline-block;
  width: 100%;
  border-bottom: solid #cacaca 3px;
}


.footerleft {
  width: 70%;
  display: inline-block;
}

.footerright h3 {
  border: solid 2px;
width: 275px;
margin-right: 20px;
}


form {
  margin-left: 372px;
  margin-top: 15px;
  #submit {
    position: relative;
    top: -200px;
    right: -204px;
    width: 208px;
    background-color: #BE2625;
    color: white;

  }
  #name {
    position: relative;
top: -186px;
left: 138px;
width: 64%;
border-top: solid #696969 3px;
  }
  #email {    position: relative;
    top: -186px;
    left: 138px;
    width: 64%;
    border-top: solid #696969 3px;
    margin-top: 15px;
  }
  #message {
    position: relative;
      top: -186px;
      left: 138px;
      width: 64%;
      border-top: solid #696969 3px;
          padding-bottom: 108px;
  }


}
