.row5 {
  width: 100%;
  color: white;
  margin-top: 20px;
}

.row5column1 {
  display: inline-block;
  width: 65%;
}

.row5column2 {
  display: inline-block;
  width: 35%;
  float: right;
  height: 535px;
}

.half-pics {
  display: inline-flex;
  width: 100%;
  margin-bottom: 6px;
      height: 225px;
}

.row5column1row2 {
  display: inline-block;;
}

.lance img {
  display: inline-flex;
  width: 100%;
}
.lance img:hover {
  opacity: .7;
}

.rodney img {
  display: inline-flex;
  width: 100%;
}
.rodney img:hover {
  opacity: .7;
}

.steve img {
  width: 95.8%;
      height: 225px;
}
.steve img:hover {
  opacity: .7;
}

.tommy img {
  width: 98%;
      height: 457px;
      background-image: url(images/sk8er-2.png);
      background-position: 46% 24%;
}
.tommy img:hover {
  opacity: .7;
}

.row5 img {
      border: solid white 4px;
      border-bottom: solid #cacaca 3px;
}

.lance {
  display: inline-flex;
  margin-right: 22px;
}

.lance h2 {
  position: relative;
  left: -220px;
  bottom: -43px;
  text-align: center;
  font-size: 35px;
}

.rodney {
  display: inline-flex;
  margin-right: 22px;

}

.rodney h2 {
  position: relative;
  right: 194px;
  top: 41px;
  font-size: 35px;
}

.steve h2 {
  position: relative;
    top: -178px;
    text-align: cneter;
    text-align: center;
    font-size: 35px;
}

.tommy h2 {
  position: relative;
    top: -309px;
    text-align: center;
    font-size: 35px;

  }
