
.row1 {
padding: 27px;
font-family: 'Titillium Web', sans-serif;
font-weight: normal;
}

header {
  width: 100%;
  .subscribe {
    font-size: 14px;
    color: white;
    position: relative;
    right: -360px;
    top: -8px;
  }

  .subscribe:hover {
    font-weight: bold;
  }

  .social{
    color: #3b5998;
        border-left: dotted;
        border-color: white;
        border-width: 3px;
        float: right;
        position: relative;
        right: 37px;
        top: -43px;
        padding-left: 12px;
        opacity: .9;
}
}


.social span {
  border-bottom: solid #cacaca 3px;
}
.row2 {
  width: 100%;
  color: white;
  display: inline-flex;
  margin-top: -15px;
  font-family: 'Titillium Web', sans-serif;
    div {
      display: inline-block;
    text-align: center;
    width: 26.74%;
    opacity: 1;
    background-color: #BE2625;
    margin-right: 8.5px;
    padding-left: 10.2px;
    border-bottom: solid #cacaca 3px;
    }
}

.row2 div:hover {
  opacity: .7;
  transform: scale(1.1);
  border-radius: 20%;
  font-weight: bold;
}

.row3 {
  margin-top: 15px;
}


.fa-facebook-square {
  color: #3b5998;
}
.fa-facebook-square:hover {
    background-color: #8b9dc3;
    border-radius: 30%;
  }


.fa-rss-square {
  color: #FA9B39;
}
.fa-rss-square:hover {
    background-color: #ffc04c;
    border-radius: 30%;
  }


.fa-twitter-square {
  color: #00aced;
}
.fa-twitter-square:hover {
    background-color: #9ED9E6;
    border-radius: 30%;
  }


.fa-youtube-square {
  color: #b31217;
}
.fa-youtube-square:hover {
    background-color: #fff;
    border-radius: 30%;
  }



form {
  margin-left: 372px;
  margin-top: 15px;
  input {
    margin-right: 8px;

  }
}




.subscribe:hover {
  color: yellow;
}
