.row3 {
  background-image: url(images/top-image.png);
background-repeat: none;
width: 97.8%;
height: 292px;
border: solid #fff 10px;
background-position: 46% 24%;
}


.topimage img:hover {
  transform: rotateY(180deg);
}

.grid img {
  position: absolute;
  height: 300px;
  width: 855px;
  top: 10em;
  left: 12.7em;
  padding-left: 0px;
  z-index: 2;
}

.topimage img {
  position: relative;
  z-index: 2;
  opacity: .9;
  bottom: -29px;
  left: 2em;
}

.row6 {
  width: 100%;
display: inline-block;
background-color: white;
border-bottom: solid #cacaca 3px;
margin-bottom: 15px;
margin-top: 15px;

}

.row6 img {
  margin-left: 13px;
  margin-top: 13px;
margin-bottom: 13px;
opacity: .8;

}
