
.row4 {
  display: inline-flex;
  margin-top: 23px;
  font-family: 'Titillium Web', sans-serif;
  width: 875px;
    height: 325px;
    text-align: center;

  h4 {
    color: #BE2625;
  }
  .article1 h4:hover {
    transform: scale(1.1);
    font-weight: bold;
  }
  .article2 h4:hover {
    transform: scale(1.1);
    font-weight: bold;
  }
#lastarticle:hover {
    transform: scale(1.1);
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
        font-family: 'Titillium Web', sans-serif;
        text-align: left;
        margin-left: 23px;
            line-height: 19px;
            color: 	#3D3D3D;
  }
  h6 {
    margin-top: -9px;
text-align: left;
margin-left: 23px;
color: #cacaca;
  }
  p {
    font-size: 13px;
    margin-top: -13px;
    text-align: left;
    margin-left: 22px;
    margin-right: 22px;
  }
}

.article1 {
  display: inline-block;
  width: 100%;
  border-bottom: 5px solid #cacaca;
  background-color: white;
  margin-right: 1.5%;

  }
.article2 {
  display: inline-block;
  width: 100%;
  border-bottom: 5px solid #cacaca;
  background-color: white;
  margin-right: 1.5%;

  }
.article3 {
  display: inline-block;
  width: 100%;
  border-bottom: 3px solid #cacaca;
  background-color: white;
  margin-right: 1.5%;
  h6 {
    margin-bottom: 45px;
position: relative;
top: 20px;
  }

  }


#lastarticle {
  margin-top: 39px;
}

#march {
  position: relative;
  top: 16px;
}

#para2 {
  position: relative;
  top: 20px;
}

#readmore2 {
  position: relative;
  top: 21px;
}
