body {
  background: url(images/bg.jpg) no-repeat 90% 20% fixed;
  background-size: cover; }

#dots {
  color: #fff;
  display: inline-block; }

.everything {
  margin-left: 198px;
  margin-right: 198px; }

.row1 {
  padding: 27px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: normal; }

header {
  width: 100%; }
  header .subscribe {
    font-size: 14px;
    color: white;
    position: relative;
    right: -360px;
    top: -8px; }
  header .social {
    color: #3b5998;
    border-left: dotted;
    border-color: white;
    border-width: 3px;
    float: right;
    position: relative;
    right: 37px;
    top: -43px;
    padding-left: 12px;
    opacity: .9; }

.social span {
  border-bottom: solid #cacaca 3px; }

.row2 {
  width: 192.3%;
  color: white;
  display: inline-flex;
  margin-top: -15px;
  font-family: 'Titillium Web', sans-serif; }
  .row2 div {
    display: inline-block;
    text-align: center;
    width: 11.74%;
    height: 2em;
    opacity: 1;
    background-color: #BE2625;
    margin-right: 19.5px;
    padding-left: 5.2px;
    padding-top: 15px;
    border-bottom: solid #cacaca 3px; }

.row3 {
  margin-top: 15px; }

.fa-facebook-square {
  color: #3b5998; }

.fa-rss-square {
  color: #FA9B39; }

.fa-twitter-square {
  color: #00aced; }

.fa-youtube-square {
  color: #b31217; }

form {
  margin-left: 372px;
  margin-top: 15px; }
  form input {
    margin-right: 8px; }

.row3 {
  background-image: url(images/top-image.png);
  background-repeat: none;
  width: 784px;
  height: 292px;
  border: solid #fff 10px;
  background-position: 46% 24%; }

.grid img {
  position: absolute;
  height: 300px;
  width: 788px;
  top: 11em;
  left: 12.7em;
  padding-left: 0px;
  z-index: 2; }

.topimage img {
  position: relative;
  z-index: 2;
  opacity: .9;
  bottom: -29px;
  left: 2em; }

.row6 {
  width: 100%;
  display: inline-block;
  background-color: white;
  border-bottom: solid #cacaca 3px;
  margin-bottom: 15px;
  margin-top: 15px; }

.row6 img {
  margin-left: 13px;
  margin-top: 13px;
  margin-bottom: 13px;
  opacity: .8; }

footer {
  display: flex;
  height: 330px;
  background-color: white;
  font-family: 'Titillium Web', sans-serif;
  width: 100%; }
  footer h3 {
    font-size: 22px;
    font-family: 'Titillium Web', sans-serif;
    text-align: left;
    margin-left: 23px;
    line-height: 19px;
    color: #454545; }

.footerleft p {
  float: left;
  margin-right: 50%;
  text-align: left;
  margin-left: 23px;
  margin-top: -14px;
  width: 450px;
  font-size: 14px;
  line-height: 25px;
  color: #7A7A7A; }
  .footerleft p h3 {
    color: #3D3D3D; }

.footerright {
  display: inline-block;
  float: right;
  margin-top: -193px; }

.socialfooter {
  margin-left: 23px; }
  .socialfooter span {
    color: #474747;
    background-color: #B5B5B5;
    display: inline-block; }

.row7 {
  display: inline-block;
  width: 100%;
  border-bottom: solid #cacaca 3px; }

.footerleft {
  width: 70%;
  display: inline-block; }

.footerright h3 {
  border: solid 2px;
  width: 275px;
  margin-right: 20px; }

form {
  margin-left: 372px;
  margin-top: 15px;
  color: #cacaca; }
  form #submit {
    position: relative;
    top: -200px;
    right: -204px;
    width: 208px;
    background-color: #BE2625;
    color: white; }
  form #name {
    position: relative;
    top: -186px;
    left: 138px;
    width: 64%;
    border-top: solid #696969 3px;
    color: #cacaca; }
  form #email {
    position: relative;
    top: -186px;
    left: 138px;
    width: 64%;
    border-top: solid #696969 3px;
    margin-top: 15px;
    color: #cacaca; }
  form #message {
    position: relative;
    top: -186px;
    left: 138px;
    width: 64%;
    border-top: solid #696969 3px;
    padding-bottom: 108px;
    color: #cacaca; }

.row6 {
  display: inline-block; }

.row4 {
  display: inline-flex;
  margin-top: 23px;
  font-family: 'Titillium Web', sans-serif;
  width: 817px;
  height: 325px;
  text-align: center; }
  .row4 h4 {
    color: #BE2625; }
  .row4 h3 {
    font-size: 22px;
    font-family: 'Titillium Web', sans-serif;
    text-align: left;
    margin-left: 23px;
    line-height: 19px;
    color: #3D3D3D; }
  .row4 h6 {
    margin-top: -9px;
    text-align: left;
    margin-left: 23px;
    color: #cacaca; }
  .row4 p {
    font-size: 13px;
    margin-top: -13px;
    text-align: left;
    margin-left: 22px;
    margin-right: 22px; }

.article1 {
  display: inline-block;
  width: 100%;
  border-bottom: 5px solid #cacaca;
  background-color: white;
  margin-right: 1.5%; }

.article2 {
  display: inline-block;
  width: 100%;
  border-bottom: 5px solid #cacaca;
  background-color: white;
  margin-right: 1.5%; }

.article3 {
  display: inline-block;
  width: 100%;
  border-bottom: 3px solid #cacaca;
  background-color: white;
  margin-right: 1.5%; }

#lastarticle {
  margin-top: 40px; }

.row5 {
  width: 100%;
  color: white;
  margin-top: 20px; }

.row5column1 {
  display: inline-block;
  width: 65%; }

.row5column2 {
  display: inline-block;
  width: 35%;
  float: right;
  height: 535px; }

.half-pics {
  display: inline-flex;
  width: 100%;
  margin-bottom: 6px;
  height: 225px; }

.row5column1row2 {
  display: inline-block; }

.lance img {
  display: inline-flex;
  width: 100%; }

.rodney img {
  display: inline-flex;
  width: 100%; }

.steve img {
  width: 95.8%;
  height: 225px; }

.tommy img {
  width: 98%;
  height: 457px; }

.row5 img {
  border: solid white 4px;
  border-bottom: solid #cacaca 3px; }

.lance {
  display: inline-flex;
  margin-right: 22px; }

.rodney {
  display: inline-flex;
  margin-right: 22px; }
